@using EDocSys.Web.Areas.Documentation.Models
@model IEnumerable<EnvironmentalManualViewModel>
@{
    var pendApp = new List<EnvironmentalManualViewModel>();
    if(User.IsInRole("A") || ViewBag.RoleA || User.IsInRole("B1") || ViewBag.RoleB1)
    {
        string userIds = ViewBag.userIds;
        List<string> userId = userIds.Split(',').ToList();
        pendApp = Model.Where(w => (userId.Contains(w.Concurred1) && w.EnvironmentalManualStatusView == "Submitted") || (userId.Contains(w.Concurred2) && w.EnvironmentalManualStatusView == "Concurred1") || (userId.Contains(w.ApprovedBy) && w.EnvironmentalManualStatusView == "Concurred1") || (userId.Contains(w.ApprovedBy) && w.EnvironmentalManualStatusView == "Concurred2")).ToList();
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
  .tabs {
    height: auto;
    width: 100%;
    text-align: left;
  }
  
  .tab-nav-wrapper {
    width: 100%;
    overflow-x: auto;
    position: relative !important;
    z-index: 999 !important;
    top: 3px;
  }
  
  .tabs ul {
    display: block;
    /*width: max-content;*/
    overflow-y: hidden;
    margin: 0px;
    padding-inline-start: 5px;
  }
  
  .tabs ul li {
    display: inline-block;
    border: 1px solid grey;
    border-bottom: 1px solid black;
    background-color: white;
  }
  
  .tabs ul li.active {
    border: 1px solid black;
    border-bottom: 1px solid white;
  }
  
  .tabs ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    line-height: 25px;
    position: relative;
    font-weight: bold;
  }
  
  .tab-content-wrapper {
    position: relative !important;
    z-index: 1 !important;
    border: 1px solid black;
    padding: 20px;
    min-height: 40px;
  }
</style>
<div class="tabs">
 
    @if(User.IsInRole("A") || ViewBag.RoleA || User.IsInRole("B1") || ViewBag.RoleB1)
    {
        <div class="tab-nav-wrapper">
            <ul>
                <li class="active"><a href="#tab1">To Be Approved</a></li>
                <li><a href="#tab2">Main</a></li>
            </ul>
        </div>
    }
    else
    {
         <div class="tab-nav-wrapper" hidden>
            <ul>
                <li class="active"><a href="#tab2">Main</a></li>
            </ul>
        </div>
    }

  <div class="tab-content-wrapper">
    <div id="tab1" class="tab-content" style="display:none;">
<table id="environmentalManuaPendApplTable" class="table table-bordered table-hover" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>DOC No</th>
            <th>DOC Title</th>
            <th>Company</th>
       @*     <th>Process</th>*@
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var docManual in pendApp)
        {
            <tr>
                <td style="text-indent: 35px; ">» @docManual.DOCNo</td>
                <td>@docManual.Title</td>
                <td>@docManual.CompanyName</td>
                @* <td><b>@docManual.ProcessName.ToUpper()</b> </td>*@
              @*  <td><b>@Html.Encode(@docManual.ProcessName).ToUpper()</b> </td>*@
                <td align="center">
                    @if (!User.IsInRole("None"))
                    {
                        if (@docManual.EnvironmentalManualStatusView != "New" && (User.IsInRole("E") || ViewBag.RoleE || User.IsInRole("SuperAdmin") || ViewBag.RoleSA))
                        {
                            <span class="badge badge-warning">@docManual.EnvironmentalManualStatusView</span>
                            <a href="/documentation/EnvironmentalManualStatus/Index?id=@docManual.Id" class="btn btn-success btn-xs"><i class="fa fa-list"></i>  Progress List</a>
                        }
                        else if (docManual.EnvironmentalManualStatusView == "Approved")
                        {
                            <span class="badge badge-warning">@docManual.EnvironmentalManualStatusView</span>
                        }
                        else if (@docManual.EnvironmentalManualStatusView == "New")
                        {
                            <span class="badge badge-warning">@docManual.EnvironmentalManualStatusView</span>
                        }
                    }
                </td>
                @if(User.IsInRole("SuperAdmin") || ViewBag.RoleSA || User.IsInRole("E") || ViewBag.RoleE) // SOP Department Admin (Full Access by Department) 
                {
                    <td text-right">
                        <div class="btn-group ">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                @*Can only Edit if New or Rejected status *@
                                @if (@docManual.EnvironmentalManualStatusView == "New" || @docManual.EnvironmentalManualStatusView == "Rejected")
                                {
                                    <a href="/documentation/EnvironmentalManual/CreateOrEdit?id=@docManual.Id&&ce=bd773a2a-ffc6-4ed2-9ba3-c7ea631628be" class="dropdown-item">
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit Environmental Manual
                                    </a>
                                }

                                @* Only Deparment Admin Preview if "New" or "Rejected" status *@
                                @if ((@docManual.EnvironmentalManualStatusView == "New") && (User.IsInRole("E") || ViewBag.RoleE || User.IsInRole("SuperAdmin") || ViewBag.RoleSA))
                                {
                                    <a href="/documentation/EnvironmentalManual/Preview?id=@docManual.Id" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        Preview Environmental Manual
                                    </a>
                                    <form id="form_deactivate_@docManual.Id" asp-area="Documentation" asp-controller="EnvironmentalManual" method="post" asp-action="OnPostDeactivate" asp-route-id="@docManual.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_deactivate_@docManual.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete Environmental Manual</a>
                                    </form>

                                  @*  <form id="form_delete_@docManual.Id" asp-area="Documentation" asp-controller="EnvironmentalManual" method="post" asp-action="OnPostDelete" asp-route-id="@docManual.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_delete_@docManual.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete Environmental Manual</a>
                                    </form>*@
                                }
                                else if (@docManual.EnvironmentalManualStatusView != "New")
                                {
                                    <a href="/documentation/EnvironmentalManual/Preview?id=@docManual.Id" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        Preview Environmental Manual
                                    </a>
                                     <form id="form_deactivate_@docManual.Id" asp-area="Documentation" asp-controller="EnvironmentalManual" method="post" asp-action="OnPostDeactivate" asp-route-id="@docManual.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_deactivate_@docManual.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete Environmental Manual</a>
                                    </form>
                                }
                            </div>
                            </div>
                        </td>
                }
                else 
                {
                    <td align="center"><a href="/documentation/EnvironmentalManual/Preview?id=@docManual.Id" class="btn-xs btn-success"><i class="fas fa-eye"></i>  Preview Environmental Manual</a></td>
                }
               
            </tr>
        }
    </tbody>
</table>
 </div>
    <div id="tab2" class="tab-content" style="display:none;"> 
        <table id="environmentalManualTable" class="table table-bordered table-hover" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>DOC No</th>
            <th>DOC Title</th>
            <th>Company</th>
       @*     <th>Process</th>*@
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var docManual in Model)
        {
            <tr>
                <td style="text-indent: 35px; ">» @docManual.DOCNo</td>
                <td>@docManual.Title</td>
                <td>@docManual.CompanyName</td>
                @* <td><b>@docManual.ProcessName.ToUpper()</b> </td>*@
              @*  <td><b>@Html.Encode(@docManual.ProcessName).ToUpper()</b> </td>*@
                <td align="center">
                    @if (!User.IsInRole("None"))
                    {
                        if (@docManual.EnvironmentalManualStatusView != "New" && (User.IsInRole("E") || ViewBag.RoleE || User.IsInRole("SuperAdmin") || ViewBag.RoleSA))
                        {
                            <span class="badge badge-warning">@docManual.EnvironmentalManualStatusView</span>
                            <a href="/documentation/EnvironmentalManualStatus/Index?id=@docManual.Id" class="btn btn-success btn-xs"><i class="fa fa-list"></i>  Progress List</a>
                        }
                        else if (docManual.EnvironmentalManualStatusView == "Approved")
                        {
                            <span class="badge badge-warning">@docManual.EnvironmentalManualStatusView</span>
                        }
                        else if (@docManual.EnvironmentalManualStatusView == "New")
                        {
                            <span class="badge badge-warning">@docManual.EnvironmentalManualStatusView</span>
                        }
                    }
                </td>
                @if(User.IsInRole("SuperAdmin") || ViewBag.RoleSA || User.IsInRole("E") || ViewBag.RoleE) // SOP Department Admin (Full Access by Department) 
                {
                    <td text-right">
                        <div class="btn-group ">
                            <button type="button" class="btn btn-xs btn-default dropdown-toggle dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                @*Can only Edit if New or Rejected status *@
                                @if (@docManual.EnvironmentalManualStatusView == "New" || @docManual.EnvironmentalManualStatusView == "Rejected")
                                {
                                    <a href="/documentation/EnvironmentalManual/CreateOrEdit?id=@docManual.Id&&ce=bd773a2a-ffc6-4ed2-9ba3-c7ea631628be" class="dropdown-item">
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit Environmental Manual
                                    </a>
                                }

                                @* Only Deparment Admin Preview if "New" or "Rejected" status *@
                                @if ((@docManual.EnvironmentalManualStatusView == "New") && (User.IsInRole("E") || ViewBag.RoleE || User.IsInRole("SuperAdmin") || ViewBag.RoleSA))
                                {
                                    <a href="/documentation/EnvironmentalManual/Preview?id=@docManual.Id" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        Preview Environmental Manual
                                    </a>
                                    <form id="form_deactivate_@docManual.Id" asp-area="Documentation" asp-controller="EnvironmentalManual" method="post" asp-action="OnPostDeactivate" asp-route-id="@docManual.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_deactivate_@docManual.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete Environmental Manual</a>
                                    </form>

                                  @*  <form id="form_delete_@docManual.Id" asp-area="Documentation" asp-controller="EnvironmentalManual" method="post" asp-action="OnPostDelete" asp-route-id="@docManual.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_delete_@docManual.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete Environmental Manual</a>
                                    </form>*@
                                }
                                else if (@docManual.EnvironmentalManualStatusView != "New")
                                {
                                    <a href="/documentation/EnvironmentalManual/Preview?id=@docManual.Id" class="dropdown-item">
                                        <i class="fas fa-eye"></i>
                                        Preview Environmental Manual
                                    </a>
                                     <form id="form_deactivate_@docManual.Id" asp-area="Documentation" asp-controller="EnvironmentalManual" method="post" asp-action="OnPostDeactivate" asp-route-id="@docManual.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_deactivate_@docManual.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete Environmental Manual</a>
                                    </form>
                                }
                            </div>
                            </div>
                        </td>
                }
                else 
                {
                    <td align="center"><a href="/documentation/EnvironmentalManual/Preview?id=@docManual.Id" class="btn-xs btn-success"><i class="fas fa-eye"></i>  Preview Environmental Manual</a></td>
                }
               
            </tr>
        }
    </tbody>
</table>
</div>
  </div>
</div>
<script>
    $(document).ready(function () {
        $('#environmentalManualTable').DataTable( {
        order: [[2, 'asc'], [0, 'asc'], [1, 'asc']],
        rowGroup: {
            dataSrc: [ 2 ]
        },
        columnDefs: [ {
            targets: [ 2 ],
            visible: false
        } ]
    } );
    });
    $(document).ready(function () {
        $('#environmentalManuaPendApplTable').DataTable( {
        order: [[2, 'asc'], [0, 'asc'], [1, 'asc']],
        rowGroup: {
            dataSrc: [ 2 ]
        },
        columnDefs: [ {
            targets: [ 2 ],
            visible: false
        } ]
    } );
    });
     $(document).ready(function() {
  $(".tab-nav-wrapper li.active").click();
  $($(".tab-nav-wrapper li.active a").attr("href")).show();

  $(".tab-nav-wrapper li").click(function(e) {
    e.preventDefault();
    e.stopPropagation();

    $(".tab-nav-wrapper li").removeClass("active");
    $(this).addClass("active");

    var target = $(this).find("a").attr("href");
    $(".tab-content-wrapper").find(".tab-content").hide();
    $(".tab-content-wrapper").find(target).show();
  })
});
</script>