@using EDocSys.Web.Areas.Documentation.Models
@model IEnumerable<EnvironmentalManualStatusViewModel>
<table id="procedureTable" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            @*<th>Id</th>*@
            <th>Remarks</th>
            <th>Status</th>
            @*<th>Created By</th>*@
            <th>Created On (UTC)</th>
            @*<th>Action</th>*@
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            var count = Model.Count();
        }

        @foreach (var docManual in Model)
        {
            <tr>
                @*<td>@docManual.Id</td>*@
                <td text-wrap>@docManual.Remarks</td>
                <td>@docManual.DocumentStatus.Name</td>
                @*<td>@docManual.CreatedBy</td>*@
                <td>@docManual.CreatedOn</td>
                <td>
                    @if (++i == count)
                    {
                        @*<h5>this is the last item</h5>*@
                        if (@docManual.DocumentStatus.Name == "Rejected" && (User.IsInRole("E") || ViewBag.RoleE))
                        {
                            <a href="/documentation/EnvironmentalManual/CreateOrEdit?id=@docManual.EnvironmentalManualId&&ce=bd773a2a-ffc6-4ed2-9ba3-c7ea631628be" class="btn-default"><i class="fas fa-pencil-alt"></i>  Edit Environmental Manual</a>
                        }


                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#environmentalManualTable").DataTable();
    });
</script>